body {
    display: block;
    margin-top: 0px;
    padding-top: 0px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}
.copyright{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2;
}

.rodape{
    text-align: center;
}


h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #ff0000; 
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}
#formas_pagamento{
    color: #ff0000;
}
.menu a{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 50px;

}
.menu{
    width:100%;
    background-color: #ff0000;
    margin-left: -8px;
    padding: 0;
    
}
.menu td{
    text-align: center;
    width: 25%;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
}
.categorias{
    font-family: Arial, Helvetica, sans-serif;
}

#titulo_produto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2;
}
#valor_antigo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration:line-through
}
#valor_atual{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ff0000;
}
#contato{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4;
    display: inline-block;
  

}
.box_contato{
    width: 100%;
    text-align: center;
    display: inline-block;
}

.box_conteudo {
    width:30%;
    text-align: center;
    display: inline-block;

   
}

.produtos {
    padding-left: 300px;
    display: block;
    

}

#logo{
    padding: 8px;
}

form{
    font-family: Arial, Helvetica, sans-serif;
}

